<ion-modal-view>
	<ion-header-bar align-title="center" data-tap-disabled="true">
		<a class="button button-light ion-ios-refresh-outline" ng-click="listMarkers()"></a>
		<h1 class="title">Around you</h1>
		<a class="button button-light pull-right ion-ios-close-outline btn-close-modal" ng-click="modalR.hide()"></a>
	</ion-header-bar>
	<ion-content>
		<ion-list class="marker-list">
      <ion-item ng-repeat="marker in listCache" item="marker" href="#/listCache/{{listCache}}" class="item-remove-animate" ng-click="$event.preventDefault() || basic">
        R: {{ marker.roads }}<br />
				P: {{ marker.points }}<br />
				C: {{ marker.counter }} / {{ marker.capacity }}<br />
				i &nbsp;&nbsp;{{ marker.dictionary }}
        <ion-option-button class="button-energized" ng-click="editMarker(marker)" ng-hide=basic>
          EDIT
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteMarker(marker)" ng-hide=basic>
					DELETE
        </ion-option-button>
      </ion-item>
    </ion-list>
	</ion-content>
</ion-modal-view>
