<ion-view>
	<ion-side-menus>
		<!-- Left menu -->
		<ion-side-menu side="left">
			<div class="list">
				<div class="item bar bar-header bar-light">
					<h1 class="title">Menu</h1>
				</div>

				<a class="item item-icon-left" href="#">
					<i class="icon ion-model-s"></i>
						Account
					<span class="item-note">
						{{username}}
					</span>
				</a>

				<a class="item item-icon-left" href="#">
					<i class="icon ion-ios-gear-outline"></i>
						Settings
				</a>

				<a class="item item-icon-left" href="#">
					<i class="icon ion-ios-checkmark-outline"></i>
						Feedback
				</a>

				<a class="item item-icon-left" href="#" ng-click="logout()">
					<i class="icon ion-log-out"></i>
					Log out
				</a>
			</div>
		</ion-side-menu>

		<ion-side-menu-content>
			<ion-pane>
				<ion-header-bar>
					<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
					<h1 class="title">S P &#9824; S E Y</h1>
				</ion-header-bar>
				<ion-content>
			    <div id="map" data-tap-disabled="true"  ng-click="clickMap()"></div>
					<div class="actibox-counter">
						<div ng-repeat="counter in editCache" item="counter" href="#/editCache/{{editCache}}">
							<a class="button button-energized ion-ios-close-outline" ng-click="clickCounterHide(hide)"></a>
							<span>
								<form name="formC" id="formC" class="formC">
									<label class="item item-input item-stacked-label">
										<ion-label>Counter<br />{{counter._counter}}</ion-label>
								    <input name="counter" type="text" ng-model="counter.counter" disabled>
								  </label>
									<button type="button" name="button" class="button button-energized ion-ios-minus" ng-click="counterDown(counter)"></button>
									<button type="submit" name="button" class="button button-energized ion-happy" ng-click="updateCounter(counter)"></button>
									<button type="button" name="button" class="button button-energized ion-ios-plus" ng-click="counterUp(counter)"></button>
								</form>
							</span>
						</div>
					</div>
					<button class="button button-block button-energized btn-ctr ion-ios-navigate-outline" ng-click="setCenter()"></button>
					<button class="button button-block button-dark btn-list ion-ios-paper-outline basic" ng-click="modalR.show()"></button>
				</ion-content>
			</ion-pane>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>
