<ion-modal-view>
	<ion-header-bar>
		<a class="button button-light clr-form" ng-click="mkr.lng = null; mkr.lat = null; mkr.cap = null; mkr.ctr = null; mkr.dic = null; mkr.rd = null; mkr.pt = null;">Clear</a>
		<h1 class="title">+ Marker</h1>
		<a class="button button-light pull-right ion-ios-close-outline btn-close-modal" ng-click="modalC.hide()"></a>
	</ion-header-bar>
	<ion-content>
    <div class="modal-data" data-tap-disabled="true">
			<form name="formA" id="formA" class="formA">
				<div class="list">
				  <label class="item item-input item-floating-label">
				    <ion-label>Longitude</ion-label>
				    <input name="lng" type="text" placeholder="Longitude" ng-model="mkr.lng" required ng-minlength="3">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.lng.length" ng-click="mkr.lng = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Latitude</ion-label>
				    <input name="lat" type="text" placeholder="Latitude" ng-model="mkr.lat">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.lat.length" ng-click="mkr.lat = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Capacity</ion-label>
				    <input name="cap" type="text" placeholder="Capacity" ng-model="mkr.cap">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.cap.length" ng-click="mkr.cap = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Counter</ion-label>
				    <input name="ctr" type="text" placeholder="Counter" ng-model="mkr.ctr">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.ctr.length" ng-click="mkr.ctr = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Dictionary</ion-label>
				    <input name="dic" type="text" placeholder="Dictionary" ng-model="mkr.dic">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.dic.length" ng-click="mkr.dic = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Road</ion-label>
				    <input name="rd" type="text" placeholder="Road" ng-model="mkr.rd">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.rd.length" ng-click="mkr.rd = null"></a>
				  </label>
				  <label class="item item-input item-floating-label">
						<ion-label>Point</ion-label>
				    <input name="pt" type="text" placeholder="Point" ng-model="mkr.pt">
						<a class="button button-light clr-input ion-ios-close-empty" ng-show="mkr.pt.length" ng-click="mkr.pt = null"></a>
				  </label>
				</div>
				<a class="button button-block button-outline button-dark" ng-click="modalC.hide()">
					CANCEL
				</a>
				<button type="submit" class="button button-block button-energized" ng-disabled="formA.$invalid" ng-click="addMarker()">
					ADD
				</button>
			</form>
    </div>
	</ion-content>
</ion-modal-view>
