<ion-modal-view>
	<ion-content>
    <div class="modal-data" id="data" data-tap-disabled="true">
			<div class="list">
			  <label class="item item-input item-floating-label">
			    <ion-label>Longitude</ion-label>
			    <input type="text" placeholder="Longitude">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Latitude</ion-label>
			    <input type="text" placeholder="Latitude">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Capacity</ion-label>
			    <input type="text" placeholder="Capacity">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Counter</ion-label>
			    <input type="text" placeholder="Counter">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Dictionary</ion-label>
			    <input type="text" placeholder="Dictionary">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Road</ion-label>
			    <input type="text" placeholder="Road">
			  </label>
			  <label class="item item-input item-floating-label">
					<ion-label>Point</ion-label>
			    <input type="text" placeholder="Point">
			  </label>
				<button class="button button-block button-outline button-dark" ng-click="modal.hide()">
				  CANCEL
				</button>
				<button class="button button-block button-energized">
				  ADD
				</button>
			</div>
    </div>
	</ion-content>
</ion-modal-view>
