<ion-modal-view>
	<ion-content>
    <div class="modal-data" id="data" data-tap-disabled="true">
			<div class="list">
			  <label class="item item-input item-floating-label">
			    <ion-label>longitude</ion-label>
			    <input type="text" placeholder="longitude">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">latitude</span>
			    <input type="text" placeholder="latitude">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">capacity</span>
			    <input type="text" placeholder="capacity">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">counter</span>
			    <input type="text" placeholder="counter">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">dictionary</span>
			    <input type="text" placeholder="dictionary">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">road</span>
			    <input type="text" placeholder="road">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">point</span>
			    <input type="text" placeholder="point">
			  </label>
				<button class="button button-block button-dark" ng-click="modal.hide()">
				  CANCEL
				</button>
				<button class="button button-block button-energized">
				  ADD
				</button>
			</div>
    </div>
	</ion-content>
</ion-modal-view>
