<ion-view>
		<ion-side-menus>
			<!-- Left menu -->
			<ion-side-menu side="left">
				<ion-header-bar align-title="center">
					<h1 class="title">Menu</h1>
				</ion-header-bar>
				<ion-content>
					<ion-list scroll="true">
						<ion-item class="item item-icon-left" ng-click="goProfile()">
							<i class="icon ion-model-s"></i>
								Account
							<span class="item-note">
								{{username}}
							</span>
						</ion-item>
						<ion-item class="item item-icon-left" ng-click="goSettings()">
							<i class="icon ion-ios-gear-outline"></i>
								Settings
						</ion-item>
						<ion-item class="item item-icon-left" ng-click="goFeedback()">
							<i class="icon ion-ios-checkmark-outline"></i>
								Feedback
						</ion-item>
						<ion-ite class="item item-icon-left" ng-click="$event.preventDefault(); logout()">
							<i class="icon ion-log-out"></i>
							Log out
						</ion-item>
					</ion-list>
				</ion-content>
			</ion-side-menu>

			<ion-side-menu-content>
				<!-- <ion-pane> -->
					<ion-header-bar align-title="center">
						<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
						<h1 class="title">S P &#9824; S E Y</h1>
						<button menu-toggle="right" class="button button-icon icon ion-ios-arrow-back reverse"><span class="ion-ios-circle-filled"></span></button>
					</ion-header-bar>
					<ion-content scroll="false">
				    <div id="map" ng-click="clickMap()" data-tap-disabled="true"></div>
						<!-- <div class="customLoader">L O A D I N G</div> -->
						<ion-spinner icon="ripple" class="customLoader"></ion-spinner>
						<div class="actibox-new">
							<div ng-repeat="newer in newCache" item="newer" href="#/newCache/{{newCache}}">
								<a class="button button-energized ion-ios-close-outline" ng-click="clickNewHide(hide)" data-tap-disabled="true"></a>
								<span>
									latitude: &nbsp;&nbsp;&nbsp;{{newer.latitude}}<br />
									longitude: {{newer.longitude}}
								</span>
								<button class="button button-energized button-block" ng-click="modalC.show()">
									ADD
								</button>
							</div>
						</div>
						<div class="actibox-edit">
							<div ng-repeat="editor in editCache" item="editor" href="#/editCache/{{editCache}}">
								<a class="button button-energized ion-ios-close-outline" ng-click="clickEditHide(hide)" data-tap-disabled="true"></a>
								<span>
									latitude: &nbsp;&nbsp;&nbsp;{{editor.latitude}}<br />
									longitude: {{editor.longitude}}<br />
									road: {{editor.roads}}<br />
									point: {{editor.points}}<br />
									counter: {{editor.counter}}<br />
									information: {{editor.dictionary}}
								</span>
								<button class="button button-energized button-block" ng-click="modalUD.show()">
									EDIT
								</button>
								<button class="button button-assertive button-block" ng-click="deleteMarker(editor)" loading>
									DELETE
								</button>
							</div>
						</div>
						<div class="actibox-counter">
							<div ng-repeat="counter in editCache" item="counter" href="#/editCache/{{editCache}}">
								<a class="button button-energized ion-ios-close-outline" ng-click="clickCounterHide(hide)" data-tap-disabled="true"></a>
								<span>
									<form name="formC" id="formC" class="formC">
										<label class="item item-input item-stacked-label">
											<ion-label><br />{{counter._counter}}</ion-label>
									    <input name="counter" type="text" ng-model="counter.counter" disabled>
									  </label>
										<hr>
										<button type="button" name="button" class="button button-dark ion-ios-minus" ng-click="counterDown(counter)"></button>
										<button type="button" name="button" class="button button-dark ion-ios-plus" ng-click="counterUp(counter)"></button>
										<button type="submit" name="button" class="button button-energized button-block ion-happy" ng-click="updateCounter(counter)"> MODIFY</button>
									</form>
								</span>
							</div>
						</div>
						<button class="button button-block button-energized btn-ctr ion-ios-navigate-outline" ng-click="setCenter()"></button>
						<button class="button button-block button-dark btn-add ion-ios-plus-outline" ng-click="modalC.show()" ng-hide=basic></button>
						<button class="button button-block button-energized btn-list ion-ios-paper-outline basic" ng-click="modalR.show()">LIST</button>
						<!-- <button class="button button-block button-dark btn-edit ion-ios-compose-outline" ng-click="modalUD.show()" ng-hide="basic || empty" data-tap-disabled="true"></button> -->
						<button class="button button-block button-assertive ion-ios-locked-outline set-admin" toggle-class="ion-ios-unlocked-outline" ng-click="toggleAdmin(true)" data-tap-disabled="true"></button>
					</ion-content>
				<!-- </ion-pane> -->
			</ion-side-menu-content>

			<!-- Right menu -->
			<ion-side-menu side="right">
				<ion-header-bar align-title="center" class="bar bar-dark">
					<h1 class="title">Residential</h1>
				</ion-header-bar>
				<ion-content>

					<ion-list class="resident-list">
						<ion-item class="item item-divider">
					    Notification
					  </ion-item>
						<ion-item class="item item-icon-left" ng-click="goMessages()">
							<i class="icon ion-chatboxes"></i>
							Messages
							<span class="badge badge-assertive">{{ resident.newMessagesCount }}</span>
						</ion-item>
						<ion-item class="item item-icon-left" ng-click="goPostbox()">
							<i class="icon ion-ios-email-outline"></i>
							Postbox
							<span class="badge badge-assertive">{{user.post}}5</span>
						</ion-item>
						<ion-item class="item item-divider">
					    Valet
							<span class="item-note">
								SWIPE
							</span>
					  </ion-item>
						<ion-item class="item item-icon-left" ng-model="vehicle">
							<i class="icon ion-model-s"></i>
							{{vehicle.name}}Mercedes

							<ion-option-button class="button-energized" ng-click="park(vehicle)">
		            PARK
		          </ion-option-button>
		          <ion-option-button class="button-assertive" ng-click="unpark(vehicle)">
								UNPARK
		          </ion-option-button>

							<span class="item-note">
								{{vehicle.status}}Parked
							</span>
						</ion-item>
					</ion-list>


					<ion-list class="concierge-list">
						<ion-item class="item item-divider bar bar-dark text-center">
							Concierge
					  </ion-item>
						<ion-item class="item item-divider">
					    Notification
					  </ion-item>
						<ion-item class="item item-icon-left" ng-click="goInbox()">
							<i class="icon ion-chatboxes"></i>
							Inbox
							<span class="badge badge-assertive">{{ concierge.newMessagesCount }}</span>
						</ion-item>
						<ion-item class="item item-divider">
					    Services
					  </ion-item>
						<ion-item class="item item-icon-left" ng-click="goPostal()">
							<i class="icon ion-ios-email-outline"></i>
							Postal
						</ion-item>
						<ion-item class="item item-icon-left" ng-click="goValet()">
							<i class="icon ion-model-s"></i>
							Valet
						</ion-item>
					</ion-list>


					<ion-list class="providence-list">
						<ion-item class="item item-divider bar bar-dark text-center">
					    Providence
					  </ion-item>
						<ion-item class="item item-divider">
					    Livetask
							<span class="item-note">
								SWIPE
							</span>
					  </ion-item>
						<ion-item class="item item-icon-left item-remove-animate active" ng-model="vehicle" ng-click="$event.preventDefault()">
							<i class="icon ion-model-s"></i>
							{{vehicle.name}}Audi

							<ion-option-button class="button-energized" ng-click="">
		            ACCEPT
		          </ion-option-button>
							<ion-option-button class="button-dark" ng-click="">
		            DONE
		          </ion-option-button>
		          <ion-option-button class="button-assertive" ng-click="">
								CANCEL
		          </ion-option-button>

							<span class="item-note">
								{{vehicle.status}}Accepted
							</span>
						</ion-item>
						<ion-item class="item item-icon-left item-remove-animate" ng-model="vehicle" ng-click="$event.preventDefault()">
							<i class="icon ion-model-s"></i>
							{{vehicle.name}}BMW

							<ion-option-button class="button-energized" ng-click="">
		            ACCEPT
		          </ion-option-button>
							<ion-option-button class="button-dark" ng-click="">
		            DONE
		          </ion-option-button>
		          <ion-option-button class="button-assertive" ng-click="">
								CANCEL
		          </ion-option-button>

							<span class="item-note">
								{{vehicle.status}}Pending
							</span>
						</ion-item>
					</ion-list>
				</ion-content>
			</ion-side-menu>
		</ion-side-menus>
</ion-view>
