<ion-view class="login-wrapper">
  <ion-header-bar align-title="center">
    <h1 class="title">S P &#9824; S E Y</h1>
  </ion-header-bar>
  <ion-content class="padding" scroll="false">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block" ng-click="login(data)" data-tap-disabled="true">Lego</button>
      <button class="button button-block button-dark" ui-sref="register" data-tap-disabled="true">Register</button>
  </ion-content>
</ion-view>
