<ion-modal-view>
 <ion-header-bar align-title="center" data-tap-disabled="true">
	 <h1 class="title">Valet</h1>
	 <a class="button button-light pull-right ion-ios-close-outline btn-close-modal" ng-click="modalValet.hide()"></a>
 </ion-header-bar>
 <ion-content ng-controller="ValetCtrl">
   <ion-list class="list list-inset valet-list">
     <ion-item class="item item-avatar" ng-repeat="res in residents | orderBy:'-res.valet.date'" ng-if="res.valet.status">
       <img ng-src="{{res.img}}">
       <h2>{{res.apartment}} - {{res.user}}</h2>
       <span class="item-note">
         {{res.valet.date}}
       </span>
     </ion-item>
   </ion-list>
 </ion-content>
</ion-modal-view>
